@mixin text-h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  letter-spacing: 2.4px;
}

@mixin text-h2 {
  /* H2. 40px B */
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
  letter-spacing: 2px;
  margin-bottom: 0;
}

@mixin text-h3 {
  /* H3. 32px B */
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
  letter-spacing: 1.6px;
}

@mixin text-h4 {
  /* H4. 28px B */
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 33.6px */
  letter-spacing: 1.4px;
}

@mixin text-h5 {
  /* H5. 24px B */
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  letter-spacing: 1.2px;
  margin-bottom: 0;
}

@mixin text-title {
  /* Title 16px B */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  letter-spacing: 0.32px;
}

@mixin text-body {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  letter-spacing: 0.32px;
}

@mixin text-body2 {
  /* Body2 14px R */
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
  letter-spacing: 0.28px;
}
